{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
    </header>
    {{- if .Params.image -}}
    <div class="side-by-side-container" style="margin: 0;">
        <div class="side-by-side-text" style="flex: 5;">
            {{ .Content }}
        </div>
        {{- $imagePath := .Params.image -}}
        {{- if not (hasPrefix $imagePath "/") -}}
            {{- $imagePath = printf "/%s" $imagePath -}}
        {{- end -}}
        <div class="side-by-side-image" style="flex: 2;">
            <img 
                src="{{ $imagePath }}" 
                alt="{{ .Params.image_alt | default "Profile Picture" }}"
                style="width: 250px; max-width: 100%; margin-bottom: 12px; margin-top: 20px; margin-left: 5px;"
            >
        </div>
    </div>
    {{- else -}}
    {{ .Content }}
    {{- end -}}
</article>
{{ end }}

